USE [master]
GO
/****** Object:  Database [CafeGocNho_63134417]    Script Date: 09/11/2024 4:31:42 CH ******/
CREATE DATABASE [CafeGocNho_63134417]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeGocNho_63134417', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CafeGocNho_63134417.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeGocNho_63134417_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CafeGocNho_63134417_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeGocNho_63134417].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeGocNho_63134417]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] NOT NULL,
	[TINHTRANG] [smallint] NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MABAN] [int] NULL,
	[MANV] [varchar](10) NULL,
	[THOIGIAN] [datetime] NULL,
	[THANHTOAN] [smallint] NULL,
	[GIAMGIA] [int] NULL,
	[NV_THANHTOAN] [varchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMATHANG]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMATHANG](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOAIMATHANG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](200) NULL,
	[GIACA] [int] NULL,
	[DVT] [nvarchar](10) NULL,
	[ANH] [varchar](50) NULL,
	[SOLUONGHANG] [int] NULL,
	[MALOAI] [varchar](10) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HONV] [nvarchar](50) NULL,
	[TENNV] [nvarchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MATKHAU] [varchar](50) NULL,
	[CHUCVU] [smallint] NULL,
	[GIOITINH] [smallint] NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](12) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([MABAN], [TINHTRANG]) VALUES (1, 0)
INSERT [dbo].[BAN] ([MABAN], [TINHTRANG]) VALUES (2, 0)
INSERT [dbo].[BAN] ([MABAN], [TINHTRANG]) VALUES (3, 0)
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([id], [MAHD], [MAMH], [SOLUONG]) VALUES (1, N'HD0001', N'AVS005', 11)
INSERT [dbo].[CHITIETHOADON] ([id], [MAHD], [MAMH], [SOLUONG]) VALUES (2, N'HD0001', N'DTS004', 11)
INSERT [dbo].[CHITIETHOADON] ([id], [MAHD], [MAMH], [SOLUONG]) VALUES (3, N'HD0002', N'AVS005', 12)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
GO
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MANV], [THOIGIAN], [THANHTOAN], [GIAMGIA], [NV_THANHTOAN]) VALUES (N'HD0001', 4, N'NV003', CAST(N'2024-05-19T12:35:10.000' AS DateTime), 1, 0, N'NV004')
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MANV], [THOIGIAN], [THANHTOAN], [GIAMGIA], [NV_THANHTOAN]) VALUES (N'HD0002', 3, N'NV003', CAST(N'2024-05-19T13:27:24.000' AS DateTime), 1, 0, N'NV004')
INSERT [dbo].[HOADON] ([MAHD], [MABAN], [MANV], [THOIGIAN], [THANHTOAN], [GIAMGIA], [NV_THANHTOAN]) VALUES (N'HD0003', 10, N'NV003', CAST(N'2024-05-20T15:30:06.000' AS DateTime), 1, 0, N'NV002')
GO
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI]) VALUES (N'AVS', N'Ăn vặt & snack')
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI]) VALUES (N'BEO', N'Béo')
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI]) VALUES (N'DANG', N'Đắng')
GO
INSERT [dbo].[MENU] ([MAMH], [TENMH], [GIACA], [DVT], [ANH], [SOLUONGHANG], [MALOAI]) VALUES (N'AVS001', N'Xúc xích Đức', 10000, N'Cái', N'xuc_xich_duc.jpg', 100, N'AVS')
INSERT [dbo].[MENU] ([MAMH], [TENMH], [GIACA], [DVT], [ANH], [SOLUONGHANG], [MALOAI]) VALUES (N'AVS002', N'Phô mai que', 10000, N'Đĩa', N'pho_mai_que.jpg', 100, N'AVS')
INSERT [dbo].[MENU] ([MAMH], [TENMH], [GIACA], [DVT], [ANH], [SOLUONGHANG], [MALOAI]) VALUES (N'AVS003', N'Bánh tráng cuộn bơ', 20000, N'Cái', N'banh_trang_cuon_bo.jpg', 100, N'AVS')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [EMAIL], [DIACHI], [MATKHAU], [CHUCVU], [GIOITINH], [SDT], [CCCD]) VALUES (N'NV001', N'Nguyễn Đình', N'Hiệu', N'hieu@gmail.com', N'Đắk lắk', N'123', 2, 1, N'0901983555', N'056444111222')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [EMAIL], [DIACHI], [MATKHAU], [CHUCVU], [GIOITINH], [SDT], [CCCD]) VALUES (N'NV002', N'Phan Châu Hải', N'Lâm', N'lam@gmail.com', N'Khánh Hoà', N'123', 0, 1, N'0904564654', N'056444111724')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [EMAIL], [DIACHI], [MATKHAU], [CHUCVU], [GIOITINH], [SDT], [CCCD]) VALUES (N'NV003', N'Nguyễn Trần Việt', N'Hoàng', N'hoang@gmail.com', N'Khánh Hoà', N'123', 2, 1, N'0415456465', N'056203444111')
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHI_TIET__MENU] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MENU] ([MAMH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHI_TIET__MENU]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_PHIEU_XUA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_PHIEU_XUA_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN_PHIEU_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN_PHIEU_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHAN_VIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHAN_VIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN_THANHTOAN] FOREIGN KEY([NV_THANHTOAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN_THANHTOAN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_REFERENCE_LOAIMATH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_REFERENCE_LOAIMATH]
GO
/****** Object:  StoredProcedure [dbo].[HoaDon_TimKiem]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HoaDon_TimKiem]
    @MAHD varchar(10) = NULL,
    @MABAN varchar(10) = NULL,
    @NGAYmin varchar(30) = NULL,
    @NGAYmax varchar(30) = NULL,
    @MANV varchar(10) = NULL
AS
BEGIN
    DECLARE @SqlStr NVARCHAR(4000)
    DECLARE @ParamList NVARCHAR(2000)
    
    -- Base SQL query
    SELECT @SqlStr = '
        SELECT * 
        FROM HOADON
        WHERE (1=1)
    '
    
    -- Add conditions dynamically
    IF @MAHD IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND MAHD LIKE @MAHD'
    
    IF @MABAN IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND MABAN LIKE @MABAN'
    
    IF @NGAYmin IS NOT NULL AND @NGAYmax IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND THOIGIAN BETWEEN CONVERT(datetime, @NGAYmin) AND CONVERT(datetime, @NGAYmax)'
    
    IF @MANV IS NOT NULL
        SELECT @SqlStr = @SqlStr + ' AND MANV LIKE @MANV'
    
    EXEC sp_executesql @SqlStr
END
GO
/****** Object:  StoredProcedure [dbo].[Menu_TimKiem]    Script Date: 09/11/2024 4:31:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Menu_TimKiem]
    @MAMH varchar(10)=NULL,
	@TENMH nvarchar(200)=NULL,
	@GIACAmin varchar(30) = NULL,
	@GIACAmax varchar(30) = NULL,
	@DVT varchar(10)=NULL,
	@MALOAI varchar(10)=NULL
AS
BEGIN
DECLARE @SqlStr NVARCHAR(4000),
		@ParamList nvarchar(2000)
SELECT @SqlStr = '
       SELECT * 
       FROM MENU
       WHERE  (1=1)
       '
IF @MAMH IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
              AND (MAMH LIKE ''%'+@MaMH+'%'')
              '
IF @TENMH IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
              AND (TENMH LIKE ''%'+@TENMH+'%'')
              '
IF @GIACAmin IS NOT NULL and @GIACAmax IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
             AND (GIACA Between Convert(int,'''+@GIACAmin+''') AND Convert(int, '''+@GIACAmax+'''))
             '
IF @DVT IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
             AND (DVT LIKE ''%'+@DVT+'%'')
             '
IF @MALOAI IS NOT NULL
       SELECT @SqlStr = @SqlStr + '
              AND (MALOAI LIKE ''%'+@MALOAI+'%'')
              '
	EXEC SP_EXECUTESQL @SqlStr
END
GO
USE [master]
GO
