@model CafeGocNho_63134417.Models.NHANVIEN

@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/Images/logo.png">

<title>Goc Nho Coffee</title>
<script src="https://cdn.tailwindcss.com">
</script>
</head>
<body class="bg-cover bg-center h-screen flex items-center justify-center" style="background-image:url('/Images/background.jpeg')">
    <div class="bg-white bg-opacity-70 p-8 rounded-lg shadow-lg w-full max-w-md text-center">
        <div class="mb-6">
            <img src="~/Images/logo.png" alt="Logo" class="mx-auto w-24 bg-opacity-70 rounded">
        </div>
        <h2 class="text-2xl font-semibold mb-4">Đăng nhập</h2>

        @using (Html.BeginForm("DangNhap", "PhanQuyen_63134417", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="mb-4">
                @Html.TextBoxFor(model => model.EMAIL, new { @class = "w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder = "Tên đăng nhập" })
            </div>
            <div class="mb-6">
                @Html.PasswordFor(model => model.MATKHAU, new { @class = "w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder = "Nhập mật khẩu" })
            </div>
            <button type = "submit" class= "bg-blue-500 text-white w-full py-3 rounded-md hover:bg-blue-600 transition duration-300" > Đăng nhập </button>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div class= "text-red-500 mt-4">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>
</body >
</html >
